<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Angular 11 Auth</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li> -->
      <li *ngIf="isUserAuthenticated" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ userName }}</a>
        <div class="dropdown-menu" aria-labelledby="dropdown05">
          <a class="dropdown-item" routerLink="/profile">Profile</a>
          <button (click)="this.authService.logout()" type="submit"
          class="dropdown-item">Logout</button>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product">Product</a>
      </li>
      <!-- <div><button *ngIf="isUserAuthenticated" (click)="this.authService.logout()" type="submit"
        class="btn btn-primary btn-sm">Logout</button>
      </div> -->
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>